<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pin_attribute.name %>
</p>

<%= link_to 'Edit', edit_pin_attribute_path(@pin_attribute) %> |
<%= link_to 'Back', pin_attributes_path %>
