<h4 class="index-page-header">We understand that not ever purchase will be<br /> the perfect fity, so we've made returns easy.</h4>
<div class="form-wrapper">
<h3 class="form-header">Enter your order number below:</h3>
<% if(flash[:error]) %>
<div class="red flash-error"><p><%= flash[:error] %></p></div>
<% end %>
<div class="error red"></div>
<%= form_tag({controller:"returns", action: "order_num"},method: "post",id: "order-return-form") do %>
<div class="field-container">
<input type="text" name="order_num" placeholder="Order Number" />

<button type="submit"><img src="<%= image_url("arrow_Submit.gif")%>" /></button>
</div>
<% end %>
<div class="links-block">
	<p>Or Sign in to Find Your Order</p>
	<p>Help Me Find My Order Number</p>
</div>
</div>



<script type="text/javascript">
	$("#order-return-form").on("submit",function() {
		var input = $(this).find("input[name='order_num']");
		if(input.length) {
			if(input.val()=="") {
				$("div.flash-error").empty();
				$("div.error").html("field cannot be blank");
				return false;
			} else if(!input.val().match(/[0-9]{1,}/)) {
				$("div.flash-error").empty();
				$("div.error").html("enter a valid order number");
				return false;
			}

		}
	});
</script>

