<div id="main-container">
	


	<div id="success-content">
		<h3>Your Return has been Processed</h3>
		<div>Returns take 4-10 business days, including return shipping.</div>
		<div>More questions about returns? review our <a href="#" target="_blank">Returns &amp; Exchanges Policy.</a></div>
		
		

		<div id="footer">
			
			<a href="<%= success_confirmation_returns_path %>" id="continue-btn" class="no-background-color">
				<img src="<%= image_url("arrow_FinishedReturn.gif") %>" />
			</a>
			</div>

	</div>

	
</div>






