<div id="main-container">
	<div id="header">
		<img src="<%= image_url("stepBar_2.gif") %>" />
		<!--
		<ul id="links-top">
			<li class="active link-one"><a class="button"><span class="number">1</span> Choose Items to Return</a></li>
			<li class="active link-two content-before"><span class="number">2</span> Review and Confirm</li>
			<li class="active link-three content-before content-after"><span class="number">3</span> Print Shipping Label</li>
		</ul>-->
	</div>
	<div id="success-content">
		<h3>Final Steps</h3>
		<div>Follow the below steps to complete your return/exchange</div>
		(more instructions will go here)

	</div>
</div>






