/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
	font-family: AbrilDisplayItalic;
	src: url("AbrilDisplayItalic.otf");
}
@font-face {
	font-family: AbrilDisplayRegular;
	src: url("AbrilDisplayRegular.otf");
}
@font-face {
	font-family: HelveticaInseratRoman;
	src: url("HelveticaInseratRoman.otf");
}

@font-face {
	font-family: HelveticaNeueUltLt;
	src: url("HelveticaNeueLTStd-UltLt.otf");
}

@font-face {
	font-family: HelveticaNeueEx;
	src: url("HelveticaNeueLTStd-Ex.otf");
}

@font-face {
	font-family: HelveticaNeueThEx;
	src: url("HelveticaNeueLTStd-ThEx.otf");
}

@font-face {
	font-family: HelveticaNeueRoman;
	src: url("HelveticaNeueLTStd-Roman.otf");
}
@font-face {
	font-family: HelveticaNeueLite;
	src: url("HelveticaNeueLTStd-Lt.otf");
}
@font-face {
	font-family: HelveticaNeueMedium;
	src: url("HelveticaNeueLTStd-Md.otf");
}
.container {
	margin: 0 auto;
	width: 100%;
}

@media only sceen and (max-width:767px) {
		div.container {
			width: 100%;
		}

	}

/*.step-1-footer .previous-options, .step-1-footer .next-btn {
	margin-top: 20px;
}*/
	#sidebar {
		width: 26%;
		
		/*position: fixed;*/
		display: inline-block;
		padding: 20px 0 0 20px;
		
	}

	#sidebar p {
		/*font-family: HelveticaNeueEx;*/
		font-size: 10pt;
	}
	#sidebar p > b {
		/*font-family: HelveticaInsertaRoman;
		font-size: 12pt;*/
	}
	.sub-sidebar-section-info {
		margin-bottom: 15px;
	}
	.sub-sidebar-section-info span {
		font-family: HelveticaNeueLite;
		font-size: 10.99pt;
	}
	/*#main-container {
		margin-left: 20em;
	}*/
	#main-container {
		width: 91%;
		margin: 0 auto;
		/*border: 1px solid #bbb;
		background: #eee;*/
	}
	#review-content {
		/*width: 75em;*/
		margin: 0 auto;
	}

	#links-top li {
		float: left;
		padding: 0.2em 0.8em;
		border: 1px solid #bbb;
		
		border-right: none;

		text-transform: uppercase;


	}
	#links-top li.link-two,#links-top li.link-three {
		border-left: none;
	}
	#links-top {
		display: inline-block;
		list-style: none;
		padding: 0;
	}
	#links-top li.active {
		
		background-color: #eee;/*#B2FFFF;*/
		
	}
	#links-top li.active + li:before {
		background: #eee; 
	}
	#links-top li.content-before:before {
		content:"";
     width:20px;
     height:20px;
     background: white;
     
     -moz-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     display:block;
     float: left;
     /*position: absolute;*/
     /*margin-top: 2.63px;*/
     margin-left: -23px;
     /*position: absolute;*/
      border:1px solid  #bbb;
      border-left: none;
      border-bottom: none;
	}

	
	/*#links-top li.content-after:after {
		content:"";
     width:20.27px;
     height:20.8px;
     background: white;
     
     -moz-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     display:inline;
     float: right;
     /*position: absolute;*/
     /*margin-top: 2.62px;*/
     /*margin-left: 1.5px;
     position: absolute;
      border:1px solid  #bbb;
      border-left: none;
      border-bottom: none;
	}*/

	/*#links-top li.active:after {
		background: #eee;
	}*/



	
	
	.red {
		color: red;
	}
	#content {
		padding-left: 9px;
		/*margin-top: 17.28px;*/
		display: inline-block;
		border-left: solid 1px #bbb;
		vertical-align: top;
		width: 72.6%;
		padding-top: 20px;
	} 
	#content h3 {
		margin-bottom: 20px;
		margin-left: 4px;
		font-family: AbrilDisplayItalic;
		font-size: 15pt;
		margin-top: 0;
		/*font-style: italic;*/
	}
	.container > .header {
		font-family: AbrilDisplayItalic;
		font-size: 26pt;
		text-align: center;
		display: block;
		margin-top: 10px;
	}
	.inline-block {
		display: inline-block;
	}
	.product-order-item {
		/*padding-right: 3.5em;*/
		margin-left: 4px;
		width: 32%;
		vertical-align: top;
		display: inline-block;
	}
	.product-order-item .prod-desc {
		margin-top: 5.6px;
		padding-bottom: 12px;
	}
	
	.prod-desc p {
		font-family: HelveticaNeueLite;
		font-size: 10.99pt;
	}
	
	.product-order-item .img-container .checkbox-label {
		z-index: 10;
		float: right;
		position: relative;
		margin: 5px 22px 0 0;
		cursor: pointer;

	}
	.helvetica-inserat {
		font-family: HelveticaInseratRoman;
	}

	.product-order-item .img-container .checkbox-label.active:before {
		background: #000;
	}


	.product-order-item .img-container .checkbox-label:before {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 17px;
		height: 17px;
		border: 1px solid rgb(167,167,167);
		border-radius: 4px;
		background: #fff;
	}

	.product-order-item .img-container {
		padding-bottom: 150%;
		display: inline-block;
		width: 100%;
		position: relative;
		vertical-align: top;
	}

	.product-order-item img {
		max-width: 100%;
		height: auto;
		display: block;

		position: absolute;
	}

	.product-order-item input {
		/*z-index: 10;
		float: right;*/
		visibility: hidden;
		position: absolute;
	}

	.text-center {
		text-align: center;
	}
	.number {
		width:20px;
		height:20px;
		border-radius: 50%;
		border: 1px solid gray;
		display: inline-block;
		background-color:white;
		text-align: center;
		margin-left: 14px;
		margin-right: 10px;
	}

	div.wrapper {
		display: inline-block;
		margin-left: 20em;
	}

	
	div.container > hr {
		width: 27em;
		border: 1px solid #F4F2F3;
		background: rgb(213,213,213);
	}

div.form-wrapper {
	margin:	0 auto;
	width: 34em;
	border: 1px solid #bbb;
	text-align: center;
	background: rgb(244,242,243);/*#F4F2F3;*/
	margin-top: 29px;
}

.links-block {
	margin-bottom: 1.9em;
	color: #808080;
	text-decoration: underline;
	cursor: pointer;
}
.links-block p {
	font-size: 11pt;
}
.form-header {
	font-family: AbrilDisplayItalic;
	font-size: 14.99pt;
	margin-top: 1.5em;
	margin-bottom: 1.5em;	
}
.field-container {
	margin-bottom: 1.7em;
}
.index-page-header {
	text-align: center;
	font-family: AbrilDisplayRegular;
	font-size: 14.99pt;
}
#order-return-form button {
	font-size: 10pt;
	background: rgb(244,242,243);
	border: none;
	color: white;
	padding: 0 10px;
	cursor: pointer;
}

#order-return-form input {
	font-size: 10.1pt;
	padding: 3.5px 10px;
	vertical-align: top;
}

#header {
	text-align: center;
	margin: 20px 0;
}

#review-form .product-container {
	border: 1px solid #bbb;
	background: #F4F2F3;
	width: 643px;
	margin: 0 auto;
}

#review-form .product-container:first {
	border-top: 1px solid #bbb;
}

.product-sidebar {
	display: inline-block;
	width:205px;
	border-right: 1px solid #bbb;
}
.product-content {
	display: inline-block;
	vertical-align: top;
	width:67%;
}

ul.options {
	list-style:none;

}
ul.options li {
	/*padding: 5px 0;*/
}
ul.options li b {
	font-family: HelveticaNeueMedium;
	font-size: 10.99pt;
}
ul.sub-options {

	list-style: none;
	padding-left: 10px;
	margin-bottom: 2em;
	margin-top: 1em;
}

div.product-sidebar-wrapper {
	/*display: inline-block;*/
	padding-top: 20px;
	width: 100%;
	padding-left: 15px;
	/*margin: 0 auto;*/

}

#footer {
	/*padding-top: 20px;*/
}

#footer button {
	float: right;
	padding: 0;
	border: none;
	background: transparent;
	margin-top: 20px;

}

#footer button:hover {
	cursor: pointer;
}

#footer .previous-options {
	float: left;
	background: none;
	margin-top: 20px;
}

#footer .next-btn {
	margin-top: 20px;
	float: right;
}

#footer .previous-options.review-page {
	margin-left: 8.5em;
}
#footer .next-btn.review-page {
	margin-right: 8.5em;
}
/*
#footer .previous-options.fit-issue-style {
	margin-left: 100px;
}

#footer .next-btn.fit-issue-style {
	margin-right: 100px;
}*/


.main-cont-step-one {
	border: 1px solid #bbb;
	background: #F4F2F3;
	text-align: left;
}

.rma-box {
	border: 1px solid #bbb;
	background: #F4F2F3;
	text-align: left;
	width: 91%;
	margin: 0 auto;
}

#success-content {
	
		display: block;
	
		vertical-align: top;
		text-align: center;	
}
#success-content > p {
	font-family: AbrilDisplayItalic;
	font-size: 26pt;
	margin: 45px 0;
}

#success-content h5 {
	font-family: AbrilDisplayItalic;
	font-size: 14pt;
}

#success-content .container-right img {
	margin-bottom: 20px;
}

#success-content h2, #success-content h3 {
	font-family: AbrilDisplayItalic;
	font-size: 40pt;
}

#success-content h3 {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 26.99pt;
}
#success-content .instructions-message {
	font-size: 10.99pt;
	font-family: HelveticaNeueLite;
}
#success-content .returns-policy {
	font-size: 10pt;
	color: #808080;
	margin-top: 20px;
	margin-bottom: 30px;

}
#success-content .returns-policy a {
	color: rgb(124,124,124);
	font-family: HelveticaNeueUltLt;
	text-decoration: underline;
}
#success-content .returns-policy a:hover {
	background: none;
}
#success-content .email-link {
	color: #1eb3ed;
}
.no-hover-effect:hover {
	background: none;
}
div.review-box {
	/*border: 1px solid #bbb;
	background:	#F4F2F3;*/
	position:absolute;
	z-index: 0;
	visibility: hidden;
}

div.height-box {
	border: 1px solid #bbb;
	background:	#F4F2F3;
	position:absolute;
	z-index: 0;
	visibility: hidden;
}

div.review-box.review-box-active {
	z-index: 1;
	position: relative;
	visibility: visible;
}
div.review-box.height-box {
	text-align: center;
	padding: 50px 0;
}
div.review-box.height-box h3 {
	font-style: italic;
}
div.review-box.height-box select {
	margin-left: 10px;
}


div.instructions {
	position:absolute;
	width:265px;
	text-align:center;
	margin-left: 293px;
	display: inline-block;
	font-family: HelveticaNeueLite;
	font-size: 10.99pt;
}
div.instructions.instructions-popup {
	position: relative;
	margin-left: 0;
	margin-bottom: 24px;
}
div.instructions span {
	font-family: AbrilDisplayItalic;
	font-size: 20pt;
}
div.instructions li {
	font-family: HelveticaNeueLite;
	font-size: 10.99pt;
}
div.instructions ul {
	list-style: decimal inside;
	padding-left: 0;
	margin-top: 10px;
}

.close-btn-container {
	text-align: right;
	margin-right: 8px;
	margin-top: 8px;
}
.close-btn-container .cd-close-popup {
	font-family: HelveticaNeueLite;
	font-size: 10.99pt;
	color: #808080;
	cursor: pointer;
}
#instructions-popup .cd-popup-container {
	max-width: 479px;

}
a.no-background-color:hover {
	background: transparent !important;
}

	#test-canvas-front {
	
	/*border: 1px solid black;*/
	/*background: url("<%= image_path('img_test_front.jpeg') %>");*/
	/*margin-left: 5%;*/
	margin-top: 20px;

	}

	#test-canvas-back {
	margin-top: 20px;
	float: right;
	/*margin-left: 20px;*/
	/*border: 1px solid black;*/
	/*background: url("<%= image_path('img_test_back.jpeg') %>");*/
	/*margin-left: 10%;*/
	}

	@media only screen and (max-width:767px) {
		#test-canvas-front {
			margin-left: 0;
			margin-top: 0;
		}
		#test-canvas-back {
			margin-top: 0;
		}
	}

	.product-content .review-header {
		font-family: AbrilDisplayItalic;
		display: block;
		font-size: 14.99pt;
		margin-bottom: 10px;
	}

	#review-form .product-content {
		padding: 20px 0 0 20px;
		font-size: 10.99pt;
		font-family: HelveticaNeueLite;
	}

	#review-form .product-content .options {
		padding-left: 0;
		margin-top: 20px;
	}
	#review-form .product-content .options > li {
		float: left;
		width: 46%;
	}

	.sub-options {
		display: block;
	}

	.sub-options input {
		visibility: hidden;
		position: absolute;
	}

	.checkbox-label-reason+span {
		font-family: HelveticaNeueLite;
		font-size: 10.99pt;
		padding-bottom: 20px;
		vertical-align: top;
	}
	.checkbox-label-reason.active:before {
		background: #000;
	}

	.checkbox-label-reason:before {
		content: ' ';
		/*position: absolute;*/
		top: 0;
		left: 0;
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 1px solid rgb(167,167,167);
		border-radius: 4px;
		background: transparent;
	}

.thank-you-header {
	font-size: 30pt;
}

.order-item-desc {
	margin-top: 18px;
}
.sub-section-header {
	font-family: HelveticaNeueMedium !important;
	font-size: 10.99pt;

}
.order-item-desc p {
	font-family: HelveticaNeueLite;
	font-size: 10.99pt;	
}

.step-one-bottom-text {
	font-size: 10.99pt;
	font-family: HelveticaNeueLite;
	text-align: center;
	margin-top: 18px;
}

.final-steps-section .shipping-instructions-content {
	font-family: HelveticaNeueLite;
	font-size: 10.99pt;
}


	.final-steps-section {
		border-top: 1px solid rgb(206,206,206);
		text-align: justify;
		padding: 15px 0;
	}

	.container-left	{
		display: inline-block;
		width: 22em;
		text-align: right;
		vertical-align: top;
	}
	.container-right {
		display: inline-block;
		vertical-align: top;
		width: 51%;
		padding-left: 4em;
	}
	.container-right div:last {
		margin-top: 8px;
	}

	#finish-return {
		float: right;
	}
